*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display: flex;
}
.main{
  margin: auto;
  border: 2px solid black;
  padding: 50px;
  width: 400px;
  /* box-shadow: 2px 4px 1px 6px rgb(235, 233, 233); */
}
.input input{
  width: 100%;
  margin: 10px 0;
  height: 35px;
  padding-left: 10px;
}
.heading{
  text-align: center;
}